#  Ignore Everything
*

# Allow into the tree
!*/

# But not these files...
!.gitignore
!CONTRIBUTING.md
!LICENSE.md
!README.md
!roadmap.md
!unreal-studio-new-oauth.png
!documentation/**/*
!Source/InteractiveSDK/Assets/MixerInteractive/**
!Source/InteractiveSDK/ProjectSettings/**

